<head>
    <link rel="stylesheet" href="./assets/css/home.css">
</head>


<body ng-controller="homeController">
    <button class="logout" ng-click="logout()">Logout</button>
    <section class="gettingstarted">
        <h2 class="gshead">Getting Started</h2>
        <h3 class="gshead">Things to watch (why you should learn coding): </h3>
        <br>
        <iframe width="350" height="300" src="https://www.youtube.com/embed/w5ERhKil4wc" frameborder="0" allowfullscreen>
        </iframe>
        <br>
        <iframe width="350" height="300" src="https://www.youtube.com/embed/STRPsW6IY8k" frameborder="0" allowfullscreen>
        </iframe>
    </section>
    <section class="priorities">
        <h3>Priorities: </h3>
        <ol>
            <li>Sign up for FreeCodeCamp</li>
            <li>Sign up for CodeFights — This is for after you finish your “FreeCodeCamp — JavaScript Module”</li>
            <li>Sign up for CodeAcademy — This is very helpful to complete while you’re doing your FreeCodeCamp. For example, while you’re completing HTML and CSS module in “FreeCodeCamp”, complete the CodeAcademy HTML and CSS courses.</li>
            <li>Sign up for StackOverflow —> This is a coder’s forum. PLEASE, do not post anything until you have some experience coding first. Definitely use this resource for searching for answers, but do NOT post any questions.</li>
        </ol>
    </section>
    <section class="downloads">
        <h3>Downloads: </h3>
        <ol>
            <li>Download Brackets IDE (this will not be used until after your first week)</li>
            <li>Download Xcode —> Update to newest version</li>
            <li>Download Google Chrome</li>
            <li>Download Slack</li>
        </ol>
    </section>
    <section class="questions">
        <h3>Question Help: </h3>
        <ol>
            <li>Check for answers in CodeAcademy modules. </li>
            <li>Ask FreeCodeCamp Forum.</li>
            <li>Check StackOverFlow.</li>
            <li>Google the error code you are getting.</li>
            <li>Email/Slack me the code/your question/and why you think this error is happening.</li>
        </ol>
    </section>
    <section class="week1">
        <h3>You task for this week is to finish HTML/CSS</h3>
        <br>
        <h4>Week 1:</h4>
        <ul>
            <li>FreeCodeCamp complete modules up to and completing basic JavaScript module. (This may seem daunting and tedious at first, just keep pushing through and take frequent breaks!).</li>
            <li>Download all of the content</li>
            <li>Sign up for all the sites under priorities. </li>
        </ul>
    </section>
</body>