body {
    font-family: 'Spartan';
}

.loginform {
    font-size: 32px;
    line-height: 50px;
    margin-top: 10%;
    text-align: center;
}

.loginform input {
    border: black 2px solid;
    height: 20px;
    margin: 2%;
    width: 80%;
}

.loginform input:focus {
    outline: red 2px solid;
}

.btnContainer{
    margin-top: 2%;
}

.submitButton {
    font-size: 22px;
    text-align: center;
    font-family: 'Spartan';
    height: 50px;
    width: 100px;
    background: none;
    border-radius: 20px;
    border: black 2px solid;
}

.submitButton:hover {
    transition: ease-in-out .4s;
    color: white;
    background-color: red;
    border: red 2px solid;
}